.bg-center {
    text-align: center;
    position: relative;
    align-items: center;
    margin: 0 auto 0 auto;
    background-color: white;
    width: 650px;
    height: 400px;
    border-radius: 70px;
  }

.littleModul{
    display: table;
    margin: 0 auto;
    background-color: wheat;
    border-radius: 15px;
    margin-top: 20px;
    height: 210px;
    width: 350px;
    text-align: center;
    margin-bottom: 60px;
    padding-top: 15px;
    background-color: #CFD1D0;
}

.wellDone{
    padding-top: 40px;
    color: #CFD1D0;
}
.arrondi {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: 1px solid coral;
}

.iconeModul{
    display: flex;
    justify-content: space-around;
   
}

.icones{
    height: 40px;
    margin-top: 6px;
}