.logo {
  margin-left: 100px;
}
.na{
    font-family: "Halloween Too";
    font-size: 2em;
    color:white;
  }
  
  .navbid {
    font-weight: bold;
  }
  a.nav-link {
    font-family: arial;
    font-size: 14px;
    color: white !important;
  }
  a.nav.navbar-brand {
    font-size: 18px !important;
    font-weight: bold;
  }
  .bienvenue {
  color: black;
  margin-right: 100px;
  }